@import '../_global_vars.scss';
$accordion-padding: 1rem;

.Faq {
  box-sizing: border-box;
  
  h1 {
    text-align: center;
  }
  
  .accordion {
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .accordion-item {
    :hover {
      background-color: #16545d;
      opacity: 0.6;
    }
    .accordion-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      background-color: #16545d;
      padding: $accordion-padding;
      color: white;
    }
  
    .accordion-content {
      background-color: white;
      padding: $accordion-padding;
    }
  }
  
}

