@import "../global_vars";

.hosts-section {
    .main-hosts-container {
        border-top: 6px solid $light_green;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-around;
        display: grid;
        grid-template-columns: auto auto auto;

        @media (max-width: 1200px){
            grid-template-columns: auto auto;
        }

        @media (max-width: 700px){
            grid-template-columns: auto;
        }
        
    }
    .host-card{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        padding: 1rem;

        height: calc(200px + 2rem);
        width: 100%;
        // width: 240px;
        // background-color: white;
        // border: 1px solid $dark_green;
        border-radius: 10px;

        .avatar-container {
            $avatar-size: calc(100px + 4vw);
            height: $avatar-size;
            width: $avatar-size;
            
            margin-right: .4rem;
            transition-duration: .5s;

            &:hover {
                background: linear-gradient(45deg, $light_green 0%, $yellow 100%);
                animation: morph 3s ease-in-out infinite;
                border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                // height: calc(110px + 4vw);
                // width: calc(110px + 4vw);
                transition: all .3s ease-in-out;
                transform: scale(1.1);
                
                z-index: 5;
            }

            img {
                width: $avatar-size;
                height: $avatar-size;
                border-radius: 50%;
                object-fit: cover;
                transition-duration: .3s;

                &:hover {
                    transform: scale(.91);
                }
            }
        }

        .host-info-container {
            justify-self: right;
            margin-left: .4rem;
            .name {
                text-align: center;
            }
            .title {
                text-align: center;
            }
        }
    }
}


@keyframes morph {
    0% {
              border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
              background: linear-gradient(45deg, $light_green 0%, $yellow 100%);
      } 
      
      50% {
              border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
              background: linear-gradient(45deg, $light_green 0%, $yellow 100%);
      }
    
      100% {
          border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
          background: linear-gradient(45deg, $light_green 0%, $yellow 100%);
      } 
}