@import "../global_vars";

.hosts-section {
    .main-hosts-container {
        border-top: 6px solid $light_green;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-around;
        display: grid;
        grid-template-columns: auto auto auto;

        @media (max-width: 1200px){
            grid-template-columns: auto auto;
        }

        @media (max-width: 700px){
            grid-template-columns: auto;
        }
        
    }
    .host-card{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        padding: 1rem;

        height: calc(200px + 2rem);
        width: 100%;
        // width: 240px;
        // background-color: white;
        // border: 1px solid $dark_green;
        border-radius: 10px;

        .avatar-container {
            $avatar-size: calc(100px + 4vw);
            height: $avatar-size;
            width: $avatar-size;
            
            margin-right: .4rem;

            img {
                width: $avatar-size;
                height: $avatar-size;
                border-radius: 50%;
                object-fit: cover;
                transition-duration: .3s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .host-info-container {
            justify-self: right;
            margin-left: .4rem;
            .name {
                text-align: center;
            }
            .title {
                text-align: center;
            }
        }
    }
}