@import "../global_vars";

.timeline-section {
    .timeline-container {
        border-top: 6px solid $light_green;
    }

    .timeline-item {
        display: grid;
        grid-template-columns: 25% auto;
        // height: 100px;
        // margin-bottom: 1rem;

        .timeline-time, .timeline-description {
            padding: 1rem;
            
        }

        .timeline-time {
            border-right: 3px solid $light_green;
            text-align: right;
            letter-spacing: 1px;

            .from {
                margin-bottom: 10px;
            }
        }

        .timeline-description {
            text-align: left;
        }

        @media (max-width: 767px){
            grid-template-columns: auto;
            .timeline-time {
                border-right: none;
                // border-left: 3px solid $light_green;
                border-bottom: 3px solid $light_green;
                text-align: left;

                padding: .8rem;

                .from {
                    margin-bottom: 0;
                }
            }

            .timeline-description {
                border-left: 3px solid $light_green;
            }
        }
    }
}
