@import "../global_vars";

.timeline-section {
    .timeline-container {
        border-top: 6px solid $light_green;
    }

    .timeline-item {
        display: grid;
        grid-template-columns: 25% auto;
        // height: 100px;
        // margin-bottom: 1rem;

        .timeline-time, .timeline-description {
            padding: 1rem;
            
        }

        .timeline-time {
            border-right: 3px solid $light_green;
            text-align: right;

            .from {
                margin-bottom: 10px;
            }
        }

        .timeline-description {
            text-align: left;
        }
    }
}
