@import "global_vars";

h1, h2, h3, h4, h5, h6 {
    font-family: $header_font;
}

div, p, span {
    font-family: $body_font;
}

code {
    font-family: $code_font;
}

section {
    width: 100vw;
}

  
  