@import "global_vars";

.App {
    section:nth-child(even) {
        background-color: #f8f8f8;
    }
}



h1, h2, h3, h4, h5, h6 {
    font-family: $header_font;
}

div, p, span {
    font-family: $body_font;
    font-size: calc(1rem + .05vw);;
}

code {
    font-family: $code_font;
}

section {
    // width: 100vw;
    padding-top: 60px;
    padding-bottom: 60px;
}

.heading {
    font-size: calc(2rem + 1.6vw);
    font-weight: bold;
    user-select: none;
    text-align: center;
}
