$ada_blue: #47a3da;

$header_font: 'Montserrat', sans-serif;
$body_font: 'Nunito', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$code_font: 'Share Tech Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
$serif_font: 'Benne', serif;

$dark_green: #16545d;
$light_green: #4ecbc4;
$white: #fafffa;
$red: #ff6a6b;
$yellow: #ffe76f;