@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");
.App section:nth-child(even) {
  background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

div, p, span {
  font-family: "Nunito", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: calc(1rem + .05vw);
}

code {
  font-family: "Share Tech Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.heading {
  font-size: calc(2rem + 1.6vw);
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar .navbar-brand {
  margin-left: 3%;
  margin-right: 2%;
  height: 80px;
}

.navbar .nav-link {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 4px;
  text-transform: uppercase;
  color: #16545d;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4ecbc4), to(#4ecbc4));
  background-image: linear-gradient(#4ecbc4 0%, #4ecbc4 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 3px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navbar .nav-link:hover {
  background-size: 1px 15px;
}

.navbar .nav-link:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.navbar .sign-up {
  position: relative;
  margin: auto;
  padding: 5px 22px;
  text-decoration: none;
  color: #16545d;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar .sign-up:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 20px;
  background: rgba(78, 203, 196, 0.5);
  width: 42px;
  height: 42px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.navbar .sign-up span {
  position: relative;
  font-weight: bolder;
  letter-spacing: .15em;
  text-transform: uppercase;
  vertical-align: middle;
}

.navbar .sign-up:hover:before {
  width: 100%;
  background: rgba(78, 203, 196, 0.6);
}

.navbar .sign-up:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.intro-section .intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .intro-section .intro-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro-section .banner-image {
  width: 50%;
  height: auto;
}

@media (max-width: 767px) {
  .intro-section .banner-image {
    width: 90%;
  }
}

.intro-section .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-section .description h2 {
  font-size: calc(2rem + 1.6vw);
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, right top, from(#16545d), color-stop(#4ecbc4), color-stop(#ffe76f), to(#ff6a6b));
  background: linear-gradient(to right, #16545d, #4ecbc4, #ffe76f, #ff6a6b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@use "compass/css3";
.themes-container {
  position: relative;
  text-align: center;
}

.themes-container .themes-intro {
  border-top: 6px solid #4ecbc4;
  padding: 1rem;
  letter-spacing: 1px;
  text-align: start;
}

.themes-container .themes-intro strong {
  color: #ff6a6b;
}

.themes-container .themes {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .themes-container .themes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.themes-container .themes .theme-1 .img-container {
  background: -webkit-gradient(linear, left top, right top, from(#4ecbc4), color-stop(#16545d), to(#fafffa));
  background: linear-gradient(to right, #4ecbc4, #16545d, #fafffa);
}

.themes-container .themes .theme-2 .img-container {
  background: -webkit-gradient(linear, left top, right top, from(#fafffa), color-stop(#ff6a6b), to(#fafffa));
  background: linear-gradient(to right, #fafffa, #ff6a6b, #fafffa);
}

.themes-container .themes .theme-3 .img-container {
  background: -webkit-gradient(linear, left top, right top, from(#fafffa), color-stop(#4ecbc4), to(#ffe76f));
  background: linear-gradient(to right, #fafffa, #4ecbc4, #ffe76f);
}

.themes-container .themes .img-container {
  border-radius: 25px;
  width: 250px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.themes-container .themes .img-container .theme-img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.themes-container .themes .theme-title-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.themes-container .themes .theme-title-container h5 {
  padding-bottom: 6px;
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 3px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.themes-container .themes .theme-title-container h5:hover {
  background-size: 1px 15px;
}

.themes-container .themes .theme-title-container h5:active {
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

.themes-container .themes .theme-title-container p {
  height: 0;
  opacity: 0;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.themes-container .themes .theme-1 h5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4ecbc4), to(#4ecbc4));
  background-image: linear-gradient(#4ecbc4 0%, #4ecbc4 100%);
}

.themes-container .themes .theme-1:hover p {
  height: 200px;
  opacity: 1;
}

.themes-container .themes .theme-2 h5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6a6b), to(#ff6a6b));
  background-image: linear-gradient(#ff6a6b 0%, #ff6a6b 100%);
}

.themes-container .themes .theme-2:hover p {
  height: 200px;
  opacity: 1;
}

.themes-container .themes .theme-3 h5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe76f), to(#ffe76f));
  background-image: linear-gradient(#ffe76f 0%, #ffe76f 100%);
}

.themes-container .themes .theme-3:hover p {
  height: 200px;
  opacity: 1;
}

@-webkit-keyframes show_theme_text {
  0% {
    height: 0;
    display: none;
    opacity: 0;
  }
  80% {
    display: block;
    height: 140px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_theme_text {
  0% {
    height: 0;
    display: none;
    opacity: 0;
  }
  80% {
    display: block;
    height: 140px;
  }
  100% {
    opacity: 1;
  }
}

.timeline-section .timeline-container {
  border-top: 6px solid #4ecbc4;
}

.timeline-section .timeline-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% auto;
      grid-template-columns: 25% auto;
}

.timeline-section .timeline-item .timeline-time, .timeline-section .timeline-item .timeline-description {
  padding: 1rem;
}

.timeline-section .timeline-item .timeline-time {
  border-right: 3px solid #4ecbc4;
  text-align: right;
  letter-spacing: 1px;
}

.timeline-section .timeline-item .timeline-time .from {
  margin-bottom: 10px;
}

.timeline-section .timeline-item .timeline-description {
  text-align: left;
}

@media (max-width: 767px) {
  .timeline-section .timeline-item {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .timeline-section .timeline-item .timeline-time {
    border-right: none;
    border-bottom: 3px solid #4ecbc4;
    text-align: left;
    padding: .8rem;
  }
  .timeline-section .timeline-item .timeline-time .from {
    margin-bottom: 0;
  }
  .timeline-section .timeline-item .timeline-description {
    border-left: 3px solid #4ecbc4;
  }
}

.hosts-section .main-hosts-container {
  border-top: 6px solid #4ecbc4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

@media (max-width: 1200px) {
  .hosts-section .main-hosts-container {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (max-width: 700px) {
  .hosts-section .main-hosts-container {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.hosts-section .host-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  height: calc(200px + 2rem);
  width: 100%;
  border-radius: 10px;
}

.hosts-section .host-card .avatar-container {
  height: calc(100px + 4vw);
  width: calc(100px + 4vw);
  margin-right: .4rem;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.hosts-section .host-card .avatar-container:hover {
  background: linear-gradient(45deg, #4ecbc4 0%, #ffe76f 100%);
  -webkit-animation: morph 3s ease-in-out infinite;
          animation: morph 3s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 5;
}

.hosts-section .host-card .avatar-container img {
  width: calc(100px + 4vw);
  height: calc(100px + 4vw);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.hosts-section .host-card .avatar-container img:hover {
  -webkit-transform: scale(0.91);
          transform: scale(0.91);
}

.hosts-section .host-card .host-info-container {
  -ms-grid-column-align: right;
      justify-self: right;
  margin-left: .4rem;
}

.hosts-section .host-card .host-info-container .name {
  text-align: center;
}

.hosts-section .host-card .host-info-container .title {
  text-align: center;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, #4ecbc4 0%, #ffe76f 100%);
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, #4ecbc4 0%, #ffe76f 100%);
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, #4ecbc4 0%, #ffe76f 100%);
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, #4ecbc4 0%, #ffe76f 100%);
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, #4ecbc4 0%, #ffe76f 100%);
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, #4ecbc4 0%, #ffe76f 100%);
  }
}

.sponsors-section .sponsors {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-top: 6px solid #4ecbc4;
}

.sponsors-section .sponsors .sponsor {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sponsors-section .sponsors .sponsor img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.sponsors-section .sponsors .sponsor:nth-child(1) {
  height: 90px;
  max-width: 100%;
}

.sponsors-section .sponsors .sponsor:nth-child(2) {
  height: 120px;
  max-width: 100%;
}

.sponsors-section .sponsors .sponsor:nth-child(3) {
  margin-top: 0;
  height: 200px;
  max-width: 70%;
}

.sponsors-section .sponsors:nth-child(2) {
  padding-bottom: 0;
}

.sponsors-section .sponsors:nth-child(3) {
  padding-top: 0;
  border-top: none;
}

.faqs-container .faqs {
  border-top: 6px solid #4ecbc4;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faqs-container .faqs .accordion-item {
  margin-bottom: 1rem;
  border: none;
}

.faqs-container .faqs .accordion-item .accordion-button {
  border: none;
  -webkit-box-shadow: 0 3px 3px #f1f1f1;
          box-shadow: 0 3px 3px #f1f1f1;
}

.faqs-container .faqs .accordion-item .accordion-button::after {
  display: none;
}

.faqs-container .faqs .accordion-item .accordion-button::before {
  content: "> ";
  font-family: "Share Tech Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  margin-right: .5rem;
  font-size: larger;
}

.faqs-container .faqs .accordion-item .accordion-button:not(.collapsed) {
  background-color: #4ecbc4;
  color: white;
}

.faqs-container .faqs .accordion-item .accordion-collapse {
  border-bottom: 4px solid #4ecbc4;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

footer {
  background-color: #4ecbc4;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 767px) {
  footer .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-container .utada-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: auto;
}

footer .footer-container .utada-container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .footer-container .utada-container .utada-text {
  padding-left: 1rem;
  position: relative;
  font-size: larger;
  color: black;
  top: -3rem;
}

footer .footer-container .footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .footer-contents .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem;
}

footer .footer-container .footer-contents .contacts .contact {
  margin: 2rem;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 3px solid white;
  cursor: pointer;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

footer .footer-container .footer-contents .contacts .contact img {
  width: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 500px) {
  footer .footer-container .footer-contents .contacts .contact {
    margin: 10px;
  }
}

footer .footer-container .footer-contents .contacts .contact:hover {
  border: 3px solid #ffffff99;
}

footer .footer-container .copyright {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: small;
}

@media (max-width: 500px) {
  footer .footer-container .copyright {
    width: 90%;
  }
}
/*# sourceMappingURL=Style.css.map */